<h1>Invitations - <%= link_to 'New Invitation', new_invitation_path %></h1>
<p><%= link_to 'Guests', guests_path %></p>

<%= datagrid_form_for @invitations_grid, url: invitations_path %>

<p>Total invitations: <%= @invitations_grid.assets.total_entries %></p>
<p>Total guests: <%= @invitations_grid.assets.sum { |i| i.guests.not_declined.count } %></p>

<%= datagrid_table @invitations_grid %>
<%= will_paginate @invitations_grid.assets %>
