<p><%= link_to 'Back', invitations_path %></p>
<h1>Invitation <%= @invitation.rsvp_code %></h1>

<p><%= @invitation.addressee %></p>
<p><%= @invitation.address_to_s %></p>

<hr></hr>

<p>Sent at: <%= @invitation.sent_at %></p>
<% if @invitation.accepted_at.present? %>
  <p>Accepted at: <%= @invitation.accepted_at %></p>
<% elsif @invitation.declined_at.present? %>
  <p>Declined at: <%= @invitation.declined_at %></p>
<% end %>

<% if @invitation.rsvp_comment.present? %>
  <p>RSVP Comment: <%= @invitation.rsvp_comment %></p>
<% end %>

<h2>Guests - <%= link_to 'New Guest', new_invitation_guest_path(@invitation) %></h2>

<%= render 'guests/guest_table', guests: @invitation.guests %>
