<h1>Tables - <%= link_to 'New Table', new_table_path %></h1>

<% @tables.each do |table| %>
  <h2><%= table.full_name %> (<%= table.guests.count %> guests)</h2>

  <% table.guests.to_a.group_by(&:invitation).values.flatten.each do |guest| %>
    <p><%= guest.name %> - <%= guest.entree_selection %></p>
  <% end %>


  <p><%= link_to 'Edit', edit_table_path(table) %></p>
  <p><%= link_to 'Delete', table_path(table), method: :delete, data: { confirm: 'Are you sure?' } %></p>

  <hr></hr>
<% end %>
